* {
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    }
    header {
        background-image: url("Img/Header.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 100px 5px;
        width: 100%;
        
    }
    .logo {
        top: 100px;
        position: relative;
        left: 1610px;
    
    }
    .redes {
        position: relative;
        top: 300px;  
    }
    .login {
        position: relative;
        bottom: 140px;
    }
    #color {
        background-color: rgb(175, 51, 255);  
    }
    .titulos {
        font-weight: bold;
        text-align: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-image: url("Img/textura.jpg")
    }
    .button1 {
        position: relative;
    }
    .Edit {
        position: absolute;
        left: 95%;
        bottom: 10%;
    }
    .Edit2 {
        position: absolute;
        left: 95%;
        bottom: -700%;
    }
    .button2 {
        position: relative;
    }
    .button3 {
        position: relative;
    }
    .button4 {
        position: relative;
    }
    .button5 {
        position: relative;
    }

    h3 {
        font-weight: bold; 
        margin: 20px;
        text-decoration: underline;
    }
    p {
        margin: 25px;  
    }
    .estudios {
        padding: 10px;
        margin: 20px;
        list-style: none;
    }
   
    .secciones {
        border: 1px solid #000;
        margin: 10px;
        border-radius: 20px;
        text-align: center;
        padding: 10px;
    }
    .lista {
        list-style: none;
    }
    .foto {
        border-radius: 50%;
       
    }
    .posición {
        position: relative;
    }
    .container {
        border: 2px solid #000;
        border-radius: 14px;
    }
    .barra {
        color: #000;
        background-image: url("Img/textura.jpg");
        overflow: hidden;
        white-space: nowrap;
        padding: 10px 20px;
        border-radius: 10px;
        animation: infinite;
        -webkit-animation: container 1000s;
        -moz-animation: container 1000s;
    }
    @keyframes container{
        0% { width: 75%; }
    }
    @-webkit-keyframes container {
        0% { width: 75%; }
      } 
      @-moz-keyframes container {
        0% { width: 75%; }
     }
     .js {
        color: #000;
        background-image: url("Img/textura.jpg");
        overflow: hidden;
        white-space: nowrap;
        padding: 10px 20px;
        border-radius: 10px;
        animation: infinite;
        -webkit-animation: js 1000s;
        -moz-animation: js 1000s;
     }
     @keyframes js{
        0% { width: 50%; }
    }
     @-webkit-keyframes js {
        0% { width: 50%; }
      } 
      @-moz-keyframes js {
        0% { width: 50%; }
      }
      .habilidades {
          margin-top: 20px;
      }

      @media (max-width: 576px) {
        .logo {
            border-bottom: 1px;
            left:280px;
       }
       .login {
        left: 500px;
        border-top: 1px;
       }
       .educacion {
           display: block;
           position: relative;
           left: 80px;
           
       }
      
    }
    
    @media (max-width: 768px) {
        .logo {
            border-bottom: 1px;
            left:280px;
       }
       .login {
        left: 700px;
        border-top: 1px;
       }
       .educacion {
        display: block;
        position: relative;
        left: 170px;
        
    }
    }
    @media (max-width: 992px) {
        .logo {
            border-bottom: 1px;
            left:280px;
       }
       .login {
        left: 10px;
        border-top: 1px;
       }
       .educacion {
        display: block;
        position: relative;
        left: 280px;
        
    }
    }
    @media (max-width: 1200px) {
        .logo {
            border-bottom: 1px;
            left:280px;
       }
       .login {
        left: 10px;
        border-top: 1px;
       }
       .educacion {
        display: block;
        position: relative;
        left: 380px;
        
    }
    }
    @media (max-width: 1400px) {
        .logo {
            border-bottom: 1px;
            left:1100px;
       }
       .login {
        left: 10px;
        border-top: 1px;
       }
       .educacion {
        display: block;
        position: relative;
        left: 500px;
        
    }
    }
    @media (max-width: 1700px) {
        .logo {
            border-bottom: 1px;
            left:1300px;
       }
       .login {
        left: 10px;
        border-top: 1px;
       }
       .educacion {
        display: block;
        position: relative;
        left: 600px;
        
    }
    }
